<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
    <textarea class="copytoclipboard" cols="100" rows='100'>
         {{test}}
    </textarea>
<p>
  <button onclick="copyClipBoard()">Copy JSON</button>
</p>
<script>
    
    

</script>