/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:fc6c11f2e4385d213e04a42938ca9236:eac7bf62cf5e04bb44463a38b3531e37:a9c9f8374454181357b6c3fb2576232e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(apps.png);}

.mathformulas {width:512px; height:512px; background-position: -1px -1px;background-size : 50%}
.periodictable {width:512px; height:512px; background-position: -1px -515px}
.physchem {width:512px; height:512px; background-position: -515px -1px}
.physicsnotes {width:512px; height:512px; background-position: -515px -515px}
.techfaqs {width:512px; height:512px; background-position: -1029px -1px}
